<p><%= @user %>,</p>

<p>Thank you for registering as a SmartGraphs author. <strong><%= link_to "Activate your account", user_activate_url(:id => @user, :key => @key) %></strong>.</p>

<p>As an author, you agree to the following terms:</p>

<p>Your email address and other personal information will never be sold, rented, or otherwise disclosed to other organizations. (<%= link_to "Read our full privacy policy", "http://concord.org/privacy-policy" %>.)</p>

<p>When you create an activity, do not use material, such as images, owned by others, whose use is restricted. By clicking the activation link above you agree that you have the right to use any images, text, and other material included in your activities. In addition, you agree that any activity you create can be shared free of charge to non-commercial users and is licensed under <%= link_to "the Creative Commons Attribution-Share Alike Unported license", "http://creativecommons.org/licenses/by-sa/3.0/" %>. (See also: <%= link_to "concord.org/software-license", "http://concord.org/software-license" %>.)</p>

<p>To share activities you create, simply provide the URLs to colleagues, students, or others. For example, an activity called Radioactive Decay is launched using this URL: http://smartgraphs-authoring.concord.org/activities/98-radioactive-decay/student_preview</p>

<p>We appreciate your interest in authoring and using SmartGraphs activities.</p>

    <p>The SmartGraphs team at the Concord Consortium.</p>
